<header class="header">

    <div class="header-first">
        <div class="header-item">      
          <svg class="header__icon">
            <use xlink:href="../assets/images/sprite.svg#icon-mail"></use>
          </svg>
          <h4>abc@gmail.com</h4>
        </div>
        <div class="header-item">
          <svg class="header__icon">
            <use xlink:href="../assets/images/sprite.svg#icon-phone"></use>
          </svg>
          <h4>1234567</h4>
        </div>
      </div>
    
    
      <div class="header-second">
    <div class=" header-item ">
        <h4 class=" header-textIcon ">English
          <svg class="header__icon">
            <use xlink:href="../assets/images/sprite2.svg#icon-chevron-down"></use>
          </svg>
        </h4>
        <h4>USD
          <svg class="header__icon">
            <use xlink:href="../assets/images/sprite2.svg#icon-chevron-down"></use>
          </svg>
        </h4>
      </div>
    
        <div class="header-item">
          <svg class="header__icon">
            <use xlink:href="../assets/images/sprite.svg#icon-user"></use>
          </svg>
          <h4>Login</h4>
        </div>
    
        <div class="header-item">
          <svg class="header__icon">
            <use xlink:href="../assets/images/sprite.svg#icon-heart-outlined"></use>
          </svg>
          <h4>Wishlist</h4>
        </div>
    
        <div class="header-item">
          <svg class="header__icon">
            <use xlink:href="../assets/images/sprite.svg#icon-shopping-cart"></use>
          </svg>
          <h4>Wishlist</h4>
        </div>
      </div> 
      </header>
    
    
    
      <div class="headerTwo">
    
        <div class="headerTwo__itemOne">
        <h1 class="nav__item">Hekto</h1>
        </div>
    
        <div class="headerTwo__itemTwo">
        <ul class="headerTwo__itemTwo  link">
          <li><a href="#" class="link-item-1">Home</a></li>
          <li><a href="#" class="link-item-2">Pages</a></li>
          <li><a href="#" class="link-item-3">Products</a></li>
          <li><a href="#" class="link-item-4">Blod</a></li>
          <li><a href="#" class="link-item-5">Shop</a></li>
          <li><a href="#" class="link-item-6">Contact</a></li>
        </ul>
      </div>
    
      <div class="headerTwo__itemThree">
        <form action="#" class="search">
          <input type="text" class="search__input" placeholder="">
          <button class="search__button">
            <svg class="search__button-magnifier">
              <use xlink:href="../assets/images/sprite2.svg#icon-search"></use>
            </svg>
          </button>

        
        </form>
      </div>
    </div>
