<div class="slider">
    <div class="slider__lamp">
      <img class="slider__lamp-size" src="../assets/images/lamp.png" alt="">
    </div>

    <div class="slider__text">
      <h5 class="slider__text-one">Best furniture for your castle..</h5>
      <h2 class="slider__text-two">New Furniture Collection Trends in 2020 </h2>
      <h5 class="slider__text-three">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing in
        phasellus non in justo</h5>
        
        <button class="btn slider-btn">Shop Now</button>
    </div>
    <div class="slider__chair">
      <img  class="slider__chair-main" src="../assets/images/chair1.svg" alt="">
      <img class="slider__chair-off" src="../../../../assets/images/slider-off.png" alt="">
      <h1 class="slider__chair-text">50% <br>off</h1>
      <img class="slider__chair-bg"  src="../../../../assets/images/slider-bg-light.png" alt="">
    </div>
  </div>
