.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerA {
    position: absoloute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rowOne {
    display: flex;
    position: relative;
    left: 37rem;
}

.row{
    display: flex;
    position: relative;
}

.offer{
    margin-top:-15rem;
}








// .search-button {
//     height: 1.1rem;
//     width: 1.4rem


// }















