.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    @media only screen and (max-width: 1500px) {  // making fontsize 8 rem at this point, this gives more room
        margin-top:5rem;
        margin-bottom:5rem;
       
     }
    @media only screen and (max-width: 1400px) {  // making fontsize 8 rem at this point, this gives more room
        margin-top:5rem;
        margin-bottom:5rem;
     }
    @media only screen and (max-width: 1100px) {  // making fontsize 8 rem at this point, this gives more room
           margin-top:5rem;
           margin-bottom:5rem;
        }
        
        @media only screen and (max-width: 900px) {  // making fontsize 8 rem at this point, this gives more room
            margin-top:5rem;
            margin-bottom:5rem;
        }

 
    
}

.blog {
    border:4px solid red;
    display: flex;
    margin-left: 50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //align-items: center;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    border-radius: 5px;
    width: 37rem;
    height: 49.3rem;
    margin: 0 4rem 11.5rem 0;



    @media only screen and (max-width:1500px) {  // making fontsize 8 rem at this point, this gives more room
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 37rem;
        height: 60rem;
        margin: 15rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
       
    }

    @media only screen and (max-width:1500px) {  // making fontsize 8 rem at this point, this gives more room
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 47rem;
        height: 60rem;
        margin: 8rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
       
    }

    @media only screen and (max-width:1400px) {  // making fontsize 8 rem at this point, this gives more room
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 47rem;
        height: 60rem;
        margin: 8rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
       
    }
    @media only screen and (max-width: 1100px) {  // making fontsize 8 rem at this point, this gives more room
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 47rem;
        height: 70rem;
        margin: 8rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
            
        }
        
        @media only screen and (max-width: 900px) {  // making fontsize 8 rem at this point, this gives more room
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
            border-radius: 5px;
            width: 47rem;
            height: 60rem;
            margin: 8rem 0 11.5rem 0;
            margin-right:20rem;
            margin-bottom:15rem;
        }
 
    

    &__img {

        width: 37rem;
        height: 25.5rem;
        border-radius: 5rem;
        margin-top:-2rem;
        @media only screen and (max-width:1500px) {  // making fontsize 8 rem at this point, this gives more room
            width: 27rem;
            height: 20.3rem;
            margin-top:-1rem;
            margin-left: -19rem;
    
        }
        @media only screen and (max-width:1400px) {  // making fontsize 8 rem at this point, this gives more room
            width: 27rem;
            height: 20.3rem;
            margin-top:-1.5rem;
            margin-left: -19rem;
    
        }
        @media only screen and (max-width: 1100px) {  // making fontsize 8 rem at this point, this gives more room
            width: 20rem;
            height: 17.3rem;
            margin-top:-6rem;
            margin-left: -26rem;
                
            }
            
            @media only screen and (max-width: 900px) {  // making fontsize 8 rem at this point, this gives more room
                width: 15rem;
                height: 15rem;
                margin-top:-2rem;
                margin-left: -31rem;
            }
       
    }

    &__text-rowOne {
      
          display: flex;
        margin-top: 1.9rem;

        

    @media only screen and (max-width:1500px) {  // making fontsize 8 rem at this point, this gives more room
        margin-top: 16rem;       
    }
    @media only screen and (max-width:1400px) {  // making fontsize 8 rem at this point, this gives more room
        margin-top: 15rem;  
           
    }
    @media only screen and (max-width:1100px) {  // making fontsize 8 rem at this point, this gives more room
        margin-top: 22rem;  
           
    }

    @media only screen and (max-width:900px) {  // making fontsize 8 rem at this point, this gives more room
        margin-top: 18rem;       
    }
       

        &-size{
            height:1.13rem;
            width:1.13rem;
            margin-right:.5rem

        }

        &-one {
            display: flex;
            flex-direction: row;
            font-family: 'Josefin Sans';
            font-size: 14px;
            line-height: 16px;
            margin-right: 3rem;
            color: var(--color-text-primary);
            @media only screen and (max-width: 1100px) {  // making fontsize 8 rem at this point, this gives more room
                    max-width: 100%;
                    width:100%; 
                }
                
                @media only screen and (max-width: 900px) {  // making fontsize 8 rem at this point, this gives more room
                    max-width: 100%;
                    width:100%; 
                }

        }

        &-two {
            display: flex;
            font-family: 'Josefin Sans';
            font-size: 14px;
            line-height: 16px;
            color: var(--color-text-primary);

        }
    }

    &__text-rowTwo-1 {
     
        margin-top: 3.2rem;
        font-family: 'Josefin Sans';
        font-size: 18px;
        line-height: 21px;
        color: var(--color-text-primary);
    }


    &__text-rowTwo-2 {
        margin-top: 1.7rem;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;    
        color: #72718F;

    }

    &__text-rowTwo-3 {
        margin-top: 1.4rem;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;      
        text-decoration-line: underline;
        color: var(--color-text-primary);

    }
}

.mr{
   
    margin-left:1.9rem;
}

.m{
    margin-bottom: 8rem;
}