.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    @media only screen and (max-width: 1500px) {  
        margin-top:5rem;
        margin-bottom:5rem;
       
     }
    @media only screen and (max-width: 1400px) {  
        margin-top:5rem;
        margin-bottom:5rem;
     }
    @media only screen and (max-width: 1100px) {  
           margin-top:5rem;
           margin-bottom:5rem;
        }
        
        @media only screen and (max-width: 900px) {  
            margin-top:5rem;
            margin-bottom:5rem;
        }

 
    
}

.blog {
   
    display: flex;
    margin-left: 50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //align-items: center;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    border-radius: 5px;
    width: 37rem;
    height: 49.3rem;
    margin: 0 4rem 11.5rem 0;



    @media only screen and (max-width:1500px) {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 37rem;
        height: 60rem;
        margin: 15rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
       
    }

    @media only screen and (max-width:1500px) {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 47rem;
        height: 60rem;
        margin: 8rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
       
    }

    @media only screen and (max-width:1400px) {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 47rem;
        height: 60rem;
        margin: 8rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
       
    }
    @media only screen and (max-width: 1100px) {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
        border-radius: 5px;
        width: 47rem;
        height: 70rem;
        margin: 8rem 0 11.5rem 0;
        margin-right:20rem;
        margin-bottom:15rem;
            
        }
        
        @media only screen and (max-width: 900px) {  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
            border-radius: 5px;
            width: 47rem;
            height: 60rem;
            margin: 8rem 0 11.5rem 0;
            margin-right:20rem;
            margin-bottom:15rem;
            margin-top: -8rem;
            margin-left: 5rem;
        }
 
    

    &__img {

        width: 37rem;
        height: 25.5rem;
        border-radius: 5rem;
        margin-top:-2rem;
        @media only screen and (max-width:1500px) {  
            width: 27rem;
            height: 20.3rem;
            margin-top:-1rem;
            margin-left: -19rem;
    
        }
        @media only screen and (max-width:1400px) {  
            width: 27rem;
            height: 20.3rem;
            margin-top:-1.5rem;
            margin-left: -19rem;
    
        }
        @media only screen and (max-width: 1100px) {  
            width: 20rem;
            height: 17.3rem;
            margin-top:-6rem;
            margin-left: -26rem;
                
            }
            
            @media only screen and (max-width: 900px) {  
                width: 15rem;
                height: 15rem;
                margin-top:-2rem;
                margin-left: -31rem;
            }
       
    }

    &__text-rowOne {
      
          display: flex;         
        margin-top: 1.9rem;   
        margin-left: 0rem;   

        

    @media only screen and (max-width:1500px) {  
        margin-top: 16rem; 
          
    }
    @media only screen and (max-width:1400px) {  
        margin-top: 15rem;  
           
    }
    @media only screen and (max-width:1100px) {  
        margin-top: 22rem;
     
           
    }

    @media only screen and (max-width:900px) {  
        margin-top: 24rem; 
        
             
    }
    @media only screen and (max-width:600px) {  
        margin-top: 24rem; 
             
    }
       

        &-size{
            height:1.13rem;
            width:1.13rem;
            margin-right:.5rem;
            @media only screen and (max-width:1500px) {  
                margin-left:2rem;      
               
               }
             
          

            &-one{
                margin-left:5rem;
                @media only screen and (max-width:900px) {  
                 margin-left:-20rem;      
                 display: none; 
                }
              
                @media only screen and (max-width:1100px) {  
                 margin-left:-2rem      
                }
                
            }
            &-two{
               // margin-left: -12rem; 
                @media only screen and (max-width:900px) {  
                 margin-left:-18rem;  
                 display: none;  
                
                }

                @media only screen and (max-width:1100px) {  
                    margin-left:-0.5rem      
                   }
            }

        }

        &-one {
            display: flex;
            flex-direction: row;            
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin-right: 3rem;
            margin-left: -18rem;
            color: var(--color-text-primary);
            @media only screen and (max-width: 1100px) {  
                    max-width: 100%;
                    width:100%; 
                    margin-top: -6rem;
                    margin-left: -12rem;
                    
                }
                
                @media only screen and (max-width: 900px) {  
                    max-width: 100%;
                    width:100%; 
                }

        }

        &-two {
            display: flex;
          
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: var(--color-text-primary);
            @media only screen and (max-width: 900px) {  
              margin-right: -9rem;
            }
        }
    }

    &__text-rowTwo-1 {
     
        margin-top: 3.2rem;
       
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: var(--color-text-primary);
        @media only screen and (max-width: 900px) {  
            margin-top: -3rem;
          }
    }


    &__text-rowTwo-2 {
        margin-top: 1.7rem;
        font-family: var(--font-family-secondary);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;    
        color: #72718F;

    }

    &__text-rowTwo-3 {
        margin-top: 1.4rem;
        font-family: var(--font-family-secondary);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;      
        text-decoration-line: underline;
        color: var(--color-text-primary);

    }
}

.mr{
   
    margin-left:1.9rem;
}

.m{
    margin-bottom: 8rem;
}

.blog__text-rowOne-two{
    height:1.13rem;
    width:1.13rem;
 margin-left: 12rem;

   
        @media only screen and (max-width: 900px) {  
            height:1.13rem;
    width:1.13rem;
 margin-left: 12rem;
 display: none;
         
          }
          @media only screen and (max-width: 1100px) {  
            margin-top: -6rem;
            height:1.13rem;
            width:1.13rem;
            margin-left: 21rem;
        
          }
          @media only screen and (max-width: 600px) {  
            height:1.1rem;
            width:1.1rem;         

         
          }
   
&-im{
    @media only screen and (max-width: 600px) {  
     
     
      }
}
    &-tx{
        @media only screen and (max-width: 900px) {  
            margin-right: -90rem;
            margin-left: 1rem;
            display: none;
        
          }
          @media only screen and (max-width: 1100px) {  
            margin-right: -90rem;
            margin-left: 1rem;
            
          }
          @media only screen and (max-width: 900px) {  
           
          }
    }

}

.blog__text-rowOne-two{
    
    &-im{
        margin-left:0rem;
        margin-right: .5rem;
    }

    &-tx{

    }
}

h4{
    display: inline; 
}