<div class="rowMain">
<div class="unique">
    <div class="unique__img">
<img class="unique__img-size" src="../../../../assets/images/unique.png" alt="">
    </div>
    <div class="unique__text">
       <h1 class="unique__text-main">Unique Features Of leatest &
        Trending Poducts</h1>
       <div class="unique__text-sub">
        <h2 class="unique__text-sub-1">All frames constructed with hardwood solids and laminates</h2>
        <h2 class="unique__text-sub-2">Reinforced with double wood dowels, glue, screw - nails corner 
            blocks and machine nails</h2>
        <h2 class="unique__text-sub-3">Arms, backs and seats are structurally reinforced</h2>
       </div>

       <div class="unique__btn" >
        <button class="btn unique__btn-text">Add to Cart</button>
        <div class="unique__btn-last">
            <h3>B&B Italian Sofa </h3>
            <h3>$32.00</h3>
        </div>
       </div>
    </div>
</div>


</div>
