.footer {
  max-width:100%;
    position: relative;

    &-mainText{
        margin-bottom:4.5rem;
    }

    &__main {

        display: flex;
        background: var(--color-bg-footer);
        justify-content: center;

        &-hekto,&-categories,  &-customer, &-pages {
            margin-top: 4rem;
            margin-right: 8rem;  
                  

        }
       
    }

  

    .mainTwo {
        height: 5.3rem;
        display: flex;
        align-items: center;
        background: var(--color-bg-footer2);

        &__text {
            position: relative;
            left: 36rem;

            &-one {
                color: var(--color-footer2-text);
                font-family: var(--font-family-secondary);
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.9rem;
            }
        }


        &__icons {
            position: relative;
            left: 120rem;

            &-format {
                height: 1.9rem;
                width: 1.9rem;
                border-radius: 8px;
                margin-right: 5px;
                background: var(--color-footer2-icons);
                fill: var(--color-text-primary);
                border: none;


            }
        }

    }
}

.footerText {
   
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--color-footerText);
    margin-bottom: 2rem;

}

.footer-mainText {
    // font-family: 'Josefin Sans';
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #000000;
}


.search__input {
    border: none;
    height: 4.4rem;
    width: 37rem;
   
    margin-right: -14rem;
    margin-bottom: 2rem;
    @media only screen and (max-width:1100px) {  
        width:27rem;
        margin-right: -8rem;
       }

       @media only screen and (max-width:900px) {  
        width:20rem;
        margin-right: -6rem;
        font-size: .8rem;
       }


}

::-webkit-input-placeholder {
    color: #8A8FB9;
    font-family: var(--font-family-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding-left: 2rem;
    @media only screen and (max-width:900px) {        
        font-size: 1.2rem;
       }
}

.search__button {
    border: none;
    height: 4.4rem;
    width: 13.9rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    background: var(--color-text-secondary);
    color: var(--color-bg-footer);
}


