<footer class="footer">

    <div class="footer__main">
  
    
      <div class="footer__main-hekto">
        <h1 class="footer-mainText">Hekto</h1>
        <form action="#" class="search">
          <input type="text" class="search__input" placeholder="Enter Email Address">
          <button class="search__button">         
            Sign Up
          </button>       
        </form>
        <h4 class="footerText">Contact info</h4>
        <h3  class="footerText">17 Princess Road, London, Greater London NW1 8JR, UK</h3>
      </div>
  
      <div class="footer__main-categories">
        <h1 class="footer-mainText">Categories</h1>
        <h3 class="footerText">Laptops & Computers</h3>
        <h3 class="footerText">Cameras & Photography</h3>
        <h3 class="footerText">Smart Phones & Tablets</h3>
        <h3 class="footerText">Video Games & Consoles</h3>
        <h3 class="footerText">Waterproof Headphones</h3>        
      </div>
  
      <div class="footer__main-customer">
        <h1 class="footer-mainText">Customer</h1>
        <h3 class="footerText">Laptops & Computers</h3>
        <h3 class="footerText">Discount</h3>
        <h3 class="footerText">Returns</h3>
        <h3 class="footerText">Orders History</h3>
        <h3 class="footerText">Order Tracking</h3> 
      </div>
  
      <div class="footer__main-pages">
        <h1 class="footer-mainText">Pages</h1>
        <h3 class="footerText">Blog</h3>
        <h3 class="footerText">Browse the Shop</h3>
        <h3 class="footerText">Category</h3>
        <h3 class="footerText">Pre-Built Pages</h3>
        <h3 class="footerText">Visual Composer Elements</h3> 
        <h3 class="footerText">WooCommerce Pages</h3>  
        
      </div>

  

    </div>
  
  
    <div class="mainTwo">
     
  
      <div class="mainTwo__text">
        <h2 class="mainTwo__text-one">©Webecy - All Rights Reserved</h2>
      </div>
  
      <div class="mainTwo__icons">
        <svg class="mainTwo__icons-format">
          <use xlink:href="../assets/images/sprite1.svg#icon-facebook-with-circle"></use>
        </svg>

        <svg class="mainTwo__icons-format">
          <use xlink:href="../assets/images/sprite1.svg#icon-instagram-with-circle"></use>
        </svg>

        <svg class="mainTwo__icons-format">
          <use xlink:href="../assets/images/sprite1.svg#icon-twitter-with-circle"></use>
        </svg>

       <!-- <img class="mainTwo__icons-format"   src="../assets/images/facebook-with-circle.svg" alt="">
       <img class="mainTwo__icons-format"   src="../assets/images/instagram-with-circle.svg" alt="">
       <img class="mainTwo__icons-format"   src="../assets/images/twitter-with-circle.svg" alt=""> -->
      </div>
    
  
  </div>
  
  </footer>
